alias nv='nvim'
alias yas='yay -S'
alias yar='yay -R'
alias yac='yay -c && yay -Sc --noconfirm'
alias ydl='youtube-dl --embed-thumbnail --extract-audio --audio-format mp3 --add-metadata'
alias ls='ls --color=auto'
alias l='ls'
alias ll='ls -l'
alias config='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias btrfs-df='sudo btrfs fi usage /'
alias hover-linux-appimage='sudo systemctl start docker && hover build linux-appimage && sudo systemctl stop docker'
