[user]
	email = y.bera003.06@protonmail.com
	name = Yusuf Bera Ertan
	signingkey = 927066BD8125A45B4AC4032661807181F60EFCB2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
